@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&family=Rubik+Dirt&family=Teko:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //background: #ccc;
    font-family: 'Popins', sans-serif;
}

.main {
    position: relative;
    min-height: 1000vh;
    background: radial-gradient(#f0483a,#ff001e);
    display: flex;
    // justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px 100px;
    header {
        padding: 10px;
        position: absolute;
        // background: wheat;
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1000;
        .logo {
            max-width: 90px;
            position: relative;
            margin-left: 50px;
        }

        .navigation {
            margin-right: 50px;
            display: flex;
            gap: 50px;
            li {
                list-style: none;
                a {
                    text-decoration: none;
                    font-size: 20px;
                    font-weight: 100;
                    color: white;
                }
            }
        }
    }


    .content {
        position: absolute;
        margin-top: 100px;
        display: flex;   
        .text {
            width: 50%;
            h2 {
                font-size: 50px;
                background: white;
            }
        }
        &-img {
            img {
                width: 250px;
            }
        }
    }
    

    .footer {
        position: absolute;
    
    }
}
