body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.padre {
    width: 200px;
    height: 200px;
    background-color: #f13929;
    position: fixed; /* La posición fija hace que el elemento se mantenga en la misma posición en la ventana del navegador */
    right: 0;
    bottom: 0;
}

.hijo {
    width: 300px;
    height: 300px;
    background-color: #29a3f1;
}

