body {
    background: gray;
    /* background-image: url('img/bosque.jpg'); */
    /* background-image: url('img/bosque.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed; */
}

#caja {
    border: 5px solid black;
    padding: 10px;
    background-color:  rebeccapurple;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h2 {
    color: red;
    background: white;
    padding: 20px;
    background-image: url('img/patron1.webp');
    border: 5px solid blue;
}

p {
    text-align: justify;
    line-height: 25px;
}
/* Tinkerbell y la bestia de nunca jamas */