/* ########## SELECTORES ########## */

/* Selector Universal */
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* margin: 0px;
    padding: 0px; */
}

/* Selector de etiqueta */
h1{
    background: red;
    color: white;
    padding: 10px   ;
}

a{
    font-size: 18px;
    color: green;
    text-decoration: none;
}

footer a{
    color: orange;
}

/* Selector de id */

/* selector de clase */
.descripcion {
    border: 5px solid purple;
    padding: 20px;
}

.parrafo1 {
    background-color: green;
    color: #fff;
}

.parrafo3 {
    background-color: orange;
    color: black;
}


#usuario form {
    border: 5px solid plum;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
}

#usuario form * {
    display: block;
}

/* selector de atributos */
input[type="text"]{
    margin-bottom: 15px;   
    padding: 10px;
    width: 300px;
}

input[type="submit"]{
    background: green;
    color: whitesmoke;
    padding: 15px;
    font-size: 15px;
    text-transform: uppercase;  /* Pasamos letras minusculas a letras mayusculas */
    border: 1px solid black;
    cursor: pointer;
}

/* Selector de hijos */
#menu > li > a{
    font-size: 18px;
    color: blue;
    text-decoration: none;
}

/* Prioridad */

#saludo h1 {
    background: brown;
}

h1 {
    background: purple;
}

