/* ----- SELECTORES ----- */

/* SELECTOR UNIVERSAL */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* margin: 0px;
    padding: 0px; */
}

/* SELECTORES DE ETIQUETA */
h1 {
    background: red;
    color: #fff;
    padding: 10px;
}

a {
    font-size: 18px;   
    color: green;
    text-decoration: none;
}

footer a {
    color: rebeccapurple;
}

/* SELECTORES DE ID */

#descripcion,
#titulo {
    border: 5px solid pink;
    padding: 15px;
}

#titulo {
    background: green;
    border: 2px dashed black;
    text-align: center;
}

/* SELECTORES DE CLASE */

.parrafo {
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
}

.parrafo1,
.parrafo3 {
    background-color: green;
    color: #fff;
    padding: 10px;
}


.parrafo3 {
    background-color: orange;
    color: #000;
}

/* SELECTORES DE ATRIBUTO */

#usuario form {
    border: 5px solid blue;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
}

#usuario form * {
    display: block;
}

input[type="text"] {
    margin-bottom: 15px;
    padding: 5px;
    width: 300px;
}

input[type="submit"]{
    background: green;
    color: #fff;
    padding: 15px;
    font-size: 15px;
    text-transform: uppercase;
    border: 3px solid pink;
    cursor: pointer;
}

/* SELECTORES HIJOS */

#menu >li > a {
    font-size: 18px;   
    color: purple;
    text-decoration: none;
}


/* SELECTORES DE PRIORIDAD */

#saludo h1 {
    background: purple !important;
}

h1 {
    background: purple !important;
}