/* Formateo de margen */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn {
    background: #fff;
    color: #212121;
    font-weight: 10000;
    font-size: 17px;
    border: unset;  /* Elimina los bordes */
    box-shadow: 4px 8px 19px -3px rgba(0,0, 0, 0.27);
    border-radius: 15px;
    padding: 15px 25px;
    position: relative;
    z-index: 1;
}

.btn::before {
    content: "";
    position: absolute;
    background-color: #212121;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    border-radius: 15px;
    box-shadow: 4px 8px 19px -3px rgba(0,0, 0, 0.27);
    transition: all 0.25s;
    z-index: -1;
}

.btn:hover::before{
    width: 100%;
}

.btn:hover{
    color: #fff;
}